
@import url('https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@300&family=Open+Sans&display=swap');


.satajaanFont
{
    position: relative;
    top: 30px;
    left: 50%;
    font-size: large;
}