/* @import url('https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@300&family=Open+Sans&display=swap');


.satajaanFont
{
    position: relative;
    top: 30px;
    left: 50%;
    font-size: large;
} */

.firstInfo
{
    text-align: justify;
}

.secondInfo
{
    text-align: justify;
}

.container2
{
    text-align: center;
}

.point-at-issue-info
{
   text-align: justify;
}

.tone-down-info
{
    text-align: justify;
}

.bird-warrior-info
{
    text-align: justify;
}

.title
{
    color: #FDCC22;
}

.textToread
{
    text-align: center;
    width: 100%;
}

.ge
{
    color: yellow;
    background-color: pink;
}